[submodule "c-ares"]
	path = third_party/c-ares/src
	url = https://github.com/c-ares/c-ares
[submodule "concurrentqueue"]
	path = third_party/concurrentqueue/src
	url = https://github.com/cameron314/concurrentqueue
[submodule "cryptopp"]
	path = third_party/cryptopp/src
	url = https://github.com/weidai11/cryptopp
[submodule "jsoncpp"]
	path = third_party/jsoncpp/src
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "libuv"]
	path = third_party/libuv/src
	url = https://github.com/libuv/libuv
[submodule "minizip"]
	path = third_party/minizip/src
	url = https://github.com/zlib-ng/minizip-ng
[submodule "openssl"]
	path = third_party/openssl/src
	url = https://github.com/openssl/openssl
[submodule "pugixml"]
	path = third_party/pugixml/src
	url = https://github.com/zeux/pugixml
[submodule "rxcpp"]
	path = third_party/rxcpp/src
	url = https://github.com/ReactiveX/RxCpp
[submodule "spdlog"]
	path = third_party/spdlog/src
	url = https://github.com/gabime/spdlog
[submodule "curl"]
	path = third_party/curl/src
	url = https://github.com/curl/curl
