[submodule "c-ares"]
	path = third_party/c-ares/src
	url = https://github.com/c-ares/c-ares
[submodule "concurrentqueue"]
	path = third_party/concurrentqueue/src
	url = https://github.com/cameron314/concurrentqueue
[submodule "cryptopp"]
	path = third_party/cryptopp/src
	url = https://github.com/weidai11/cryptopp
[submodule "jsoncpp"]
	path = third_party/jsoncpp/src
	url = https://github.com/open-source-parsers/jsoncpp
